# project
_site
.sass-cache
.vagrant
# general
.DS_Store
Thumbs.db
ehthumbs.db
Gemfile.lock
beautiful-jekyll-theme-*.gem
.Rproj.user
.Rhistory
*.pper
*.pper
*.pper
todo.txt
.Rproj.user/E63A7AA1/sources/prop/INDEX
.Rproj.user/E63A7AA1/sources/prop/A43DDC1B
.Rproj.user/E63A7AA1/sources/prop/7DDF7332
.Rproj.user/E63A7AA1/pcs/windowlayoutstate.pper
